<!DOCTYPE html>
<html>
  <head>
    <title>Alina's Railroader Mods</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <div id="app">
      <h2>Alina's Railroader Mods:</h2>
      <div class="mod" v-for="(mod,id) in mods" :key="id">
        <h3>{{ mod.name }}</h3>
        <div><a :href="mod.downloadUrl">Download v{{mod.version}}</a></div>
        <br />
        <h3>Changelog</h3>
        <div v-for="c in mod.changelog" class="changelog">
          <h4>{{ c.version }}:</h4>
          <pre>{{ c.desc }}</pre>
        </div>
      </div>
    </div>
    <style>
      .changelog {
        border-top: 1px solid;
      }
    </style>
    <script>
      const { createApp, ref } = Vue

      createApp({
        setup () {
          const mods = ref({})
          fetch('mods.json')
            .then(response => response.json())
            .then(data => {
              mods.value = data
            })
          return {
            mods
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>